<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login to MyDay</title>

    <script src="{{url_for('static', filename='scripts/home.js')}}"></script>
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css') }}">

</head>
<body>
    <header id="pagetitle">
        <a href="/" class="loginRedirect">
            <img class="userimg" src="{{url_for('static', filename='img/MyDayWeb.png')}}">
        </a>

        <h2>MyDay</h2>

        <a href="/auth/checksession" class="loginRedirect">
            <img class="userimg" src="{{url_for('static', filename='img/person-icon.png')}}">
        </a>
    </header>

    <form action="/auth/register/api/mongodb" method="POST" class="maindiv">
        <input type="text" name="username" placeholder="Username" required>

        <input type="email" name="email" placeholder="Email" required><br>
        
        <input type="password" name="password" placeholder="Password" required><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>