<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Wellcome to MyDay</title>

    <script src="{{url_for('static', filename='scripts/home.js')}}"></script>
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css') }}">

</head>
<body>
    <header id="pagetitle">
        <a href="/" class="loginRedirect">
            <img class="userimg" src="{{url_for('static', filename='img/MyDayWeb.png')}}">
        </a>

        <h2>MyDay</h2>

        <a href="/auth/checksession" class="loginRedirect">
            <img class="userimg" src="{{url_for('static', filename='img/person-icon.png')}}">
        </a>
    </header>

    <div class="maindiv">
        <header>
            <h2>Vendo informações da tarefa: {{taskdata['taskname']}}</h2>
            <form action="/newtask">
                <button>Criar nova tarefa</button>
            </form>
        </header>

        <div>
            <br>
            <h3>Comentario da tarefa:</h3>
            <h4>{{taskdata['comment']}}</h4>
        </div>

    </div>    

</body>
</html>